Repository Dee66/CostPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test-lib:
  name: cargo test lib
  entry: cargo test --lib
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check
  language: system
  pass_filenames: false

validate-mental-model:
  name: validate mental model
  entry: python3 scripts/detect_mental_model_contradictions.py
  language: system
  pass_filenames: false

chore(ci): collapse workflows to single automatic CI, manual-only tools
  .github/workflows.manual/core-artifact-sign.yml
  .github/workflows.manual/core-artifact-verify.yml
  .github/workflows.manual/costpilot-ci.yml
  .github/workflows.manual/pr-review-automation.yml
  .github/workflows.manual/test-orchestration.yml
  .github/workflows.manual/tests.yml
  .github/workflows.manual/wasm.yml
  .github/workflows.manual/wasm_tests.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/core-artifact-release.yml
  .github/workflows/core-build.yml
  .github/workflows/deployment-orchestration.yml
  .github/workflows/observability-testing.yml
  .github/workflows/performance-testing.yml
  .github/workflows/pro-engine-build.yml
  .github/workflows/release.yml
  .github/workflows/security-scanning.yml
  .github/workflows/sustainability-testing.yml
  .github/workflows/synthetic-monitoring.yml
Due: none

Add comprehensive tests for license issuer binary and functions
  .costpilot/rate_limit.json
  .github/copilot-instructions.md
  build.rs
  docs/PRICING_IMPLEMENTATION.md
  scripts/pre_push_checks.sh
  src/bin/license_issuer.rs
  src/lib.rs
  src/license_issuer.rs
  tests/cli_integration_tests.rs
  tests/license_issuer_integration_tests.rs
  tests/license_issuer_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

Add comprehensive license validation tests
  tests/license_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

Remove Slack webhook integration
  docs/POLICY_METADATA.md
  docs/RELEASE_PROCESS.md
  docs/SLO_BURN_ALERTS.md
  docs/SLO_ENGINE.md
  docs/USAGE_METERING.md
  docs/dashboards/monitoring-dashboard.md
  docs/dashboards/observability-dashboard.md
  scripts/synthetic_monitoring_alerts.sh
  src/validation/config.rs
  tests/cost_diff_validation_tests.rs
  tests/test_data/policy_scenarios/approval_workflows/high_cost_approval.yml
  tests/test_data/policy_scenarios/cost_limits/monthly_budget_limit.yml
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

refactor: remove synthetic test scaffolding and internal docs
  .github/workflows/synthetic-monitoring.yml
  PHASE_1_DOUBLE_CHECK.md
  PHASE_1_INVESTIGATION_REPORT.md
  REPO_QUALITY_REPORT.md
  SECURITY_AUDIT_2026-01-08.md
  docs/results/scalability-test-results/scale_100/temp_tests/benches/synthetic_benchmarks.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_1.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_10.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_2.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_3.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_4.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_5.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_6.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_7.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_8.rs
  docs/results/scalability-test-results/scale_100/temp_tests/integration/synthetic_integration_9.rs
  docs/results/scalability-test-results/scale_100/temp_tests/synthetic_unit_tests.rs
  license_deon66.json
  scripts/issue_license.py
  src/benches/synthetic_benchmarks.rs
  src/integration/synthetic_integration_1.rs
  src/integration/synthetic_integration_10.rs
  src/integration/synthetic_integration_2.rs
  src/integration/synthetic_integration_3.rs
  src/integration/synthetic_integration_4.rs
  src/integration/synthetic_integration_5.rs
  src/integration/synthetic_integration_6.rs
  src/integration/synthetic_integration_7.rs
  src/integration/synthetic_integration_8.rs
  src/integration/synthetic_integration_9.rs
  src/synthetic_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

docs: expand quickstart and CLI reference to production quality
  docs/cli_reference.md
  docs/quickstart.md
Due: none

Launch readiness: Remove false CDK claims, fix env var dependency, update installation docs
  .gitignore
  README.md
  build.rs
  docs/quickstart.md
  src/bin/costpilot.rs
  src/cli/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

fix(build): resolve unused variable warnings in build.rs
  build.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

fix(build): implement missing obfuscation functions as no-ops
  build.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

docs: finalize README for v1.0.0 launch (badges, input format, quick start clarity)
  README.md
Due: none

chore: finalize v1.0.0 launch readiness
  .github/workflows/macos-release.yml
  PHASE_1_DOUBLE_CHECK.md
  PHASE_1_INVESTIGATION_REPORT.md
  README.md
  REPO_QUALITY_REPORT.md
  benches/engine_benchmarks.rs
  build.rs
  docs/mental_model.md
  docs/mental_model_versions.md
  scripts/detect_mental_model_contradictions.py
  src/pro_engine/license.rs
  test/README.md
  tests/archive_compression_tests.rs
  tests/authentication_security_tests.rs
  tests/baseline_tests.rs
  tests/cli_messaging_tests.rs
  tests/cold_start_inference_tests.rs
  tests/compatibility/schema_validation_test.rs
  tests/compatibility/semver_enforcement_test.rs
  tests/cross_output_consistency_tests.rs
  tests/detection_engine_tests.rs
  tests/determinism_tests.rs
  tests/differential_testing_tests.rs
  tests/download_network_tests.rs
  tests/e2e_cli_tests.rs
  tests/golden_mapping_tests.rs
  tests/input_validation_security_tests.rs
  tests/license_issuer_integration_tests.rs
  tests/license_validation_tests.rs
  tests/long_running_reliability_tests.rs
  tests/mathematical_correctness_tests.rs
  tests/performance_baseline_tests.rs
  tests/prediction_engine_tests.rs
  tests/pro_engine_loader_tests.rs
  tests/pro_engine_loader_unit_tests.rs
  tests/probabilistic_modeling_tests.rs
  tests/release_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

ci: harden CostPilot CI for launch
  .github/workflows/ci.yml
  .github/workflows/pro-engine-build.yml
  .github/workflows/release.yml
Due: none

Update release instructions with Windows and macOS support and safety improvements
  GITHUB_RELEASE_INSTRUCTIONS.md
Due: none

fix(build): Generate crypto keys unconditionally for Windows builds
  build.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

docs: Add Windows build commercial validation report
  WINDOWS_BUILD_VALIDATION.txt
Due: none

fix(scripts): Correct binary path detection for Windows builds
  scripts/make_release_bundle.sh
Due: none

Pre-release cleanup: update .gitignore, release instructions, and authentication tests
  .gitignore
  GITHUB_RELEASE_INSTRUCTIONS.md
  license_deon66.json
  tests/authentication_security_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

Path conditions:
  cargo-fmt: any of: \.(rs)$
  cargo-clippy: any of: \.(rs)$
  cargo-test-lib: any of: \.(rs)$
  cargo-check: any of: \.(rs)$
  validate-mental-model: any of: ^(docs/mental_model\.md|src/.*)$
