Repository Dee66/CostPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        exclude: ^(target/|cleanup/|static-analysis.toml)$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --check
        language: system
        files: \.(rs)$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: \.(rs)$
        pass_filenames: false

      - id: cargo-test-lib
        name: cargo test lib
        entry: cargo test --lib
        language: system
        files: \.(rs)$
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        files: \.(rs)$
        pass_filenames: false

      - id: validate-mental-model
        name: validate mental model
        entry: python3 scripts/detect_mental_model_contradictions.py
        language: system
        files: ^(docs/mental_model\.md|src/.*)$
        pass_filenames: false

Disable ARM builds in release workflow (private repo limitation)
  .github/workflows/release.yml
Due: none

Enable vendored OpenSSL for cross-platform builds
  Cargo.toml
Due: none

Update Cargo.lock for vendored OpenSSL
  Cargo.lock
Due: none

Update to macos-15-intel runner (macos-13 deprecated)
  .github/workflows/macos-release.yml
Due: none

Remove ARM64 cross-compile from Intel runner (causing 30min+ hangs)
  .github/workflows/macos-release.yml
Due: none

Fix: macOS tar compatibility - remove --sort=name flag
  scripts/make_release_bundle.sh
Due: none

fix(build): Add cross-compilation config for ARM64 Linux
  .cargo/config.toml
Due: none

security: remove old private key from tracking
  costpilot-license-issuer/keypair_info.json
Due: none

test: remove contract-violating license enforcement tests
  tests/license_enforcement_edge_cases_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

Fix: Resolve 7 test failures and correct false license expiry bug claims
  FORK_BUILD_GUIDE.md
  GTM_READINESS_CONFIRMATION.md
  RELEASE_PREP_CONFIRMATION.md
  SECURITY_FINAL_AUDIT.md
  WINDOWS_BUILD_HANDOFF.md
  tests/license_validation_tests.rs
  tests/verify_expired_license_bug.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

feat(windows): Add Windows platform support
  Cargo.lock
  Cargo.toml
Due: none

chore: bump version to 1.0.1 for frozen release
  Cargo.toml
Due: none

test: update snapshots for version 1.0.1
  tests/snapshots/golden_mapping_tests__database_tier.snap
  tests/snapshots/golden_mapping_tests__empty_graph.snap
  tests/snapshots/golden_mapping_tests__isolated_resources.snap
  tests/snapshots/golden_mapping_tests__web_app_architecture.snap
Due: none

refactor: reorganize project root for better maintainability
  .costpilot/rate_limit.json
  .gitignore
  Cargo.lock
  docs/BUILD_PLAN.md
  docs/CONTRACT.md
  docs/archive/audits/CI_COST_AUDIT.md
  docs/archive/audits/INVESTIGATION_REPORT.md
  docs/archive/audits/LICENSE_CONTRACT_VERIFICATION.md
  docs/archive/audits/PUBLIC_REPO_READINESS.md
  docs/archive/audits/SECURITY_AUDIT_REPORT.md
  docs/archive/audits/SECURITY_FINAL_AUDIT.md
  docs/archive/audits/TEST_EXECUTION_REPORT.md
  docs/archive/gtm/COSTPILOT_GTM_FINAL_AUDIT.md
  docs/archive/gtm/GTM_FINAL_AUDIT_SUMMARY.md
  docs/archive/gtm/GTM_FINAL_STATUS.md
  docs/archive/gtm/GTM_READINESS_CONFIRMATION.md
  docs/archive/releases/FORK_BUILD_GUIDE.md
  docs/archive/releases/GITHUB_RELEASE_INSTRUCTIONS.md
  docs/archive/releases/RELEASE_NOTES_v1.0.0.md
  docs/archive/releases/RELEASE_PREP_CONFIRMATION.md
  docs/archive/releases/RELEASE_TEST_REPORT_v1.0.1.md
  docs/archive/releases/WINDOWS_BUILD_HANDOFF.md
  docs/archive/releases/WINDOWS_TEST_SCRIPT.md
  full_test_run.log
  repos.txt
  scripts/costpilot_test_script.sh
  scripts/test_costpilot_release_linux_with_license.sh
  tests/contract_protection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

fix: add version 1.0.1 to schema compatibility table
  tests/compatibility/schema_validation_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

docs: update Windows build handoff to v1.0.1 tag
  WINDOWS_BUILD_HANDOFF.md
Due: none

chore: remove internal tooling and configs from public repo
  .cargo/config.toml
  .github/RELEASE_CHECKLIST.md
  .github/copilot-instructions.md
  .github/github-actions/README.md
  .github/workflows.manual/core-artifact-sign.yml
  .github/workflows.manual/core-artifact-verify.yml
  .github/workflows.manual/costpilot-ci.yml
  .github/workflows.manual/pr-review-automation.yml
  .github/workflows.manual/test-orchestration.yml
  .github/workflows.manual/tests.yml
  .github/workflows.manual/wasm.yml
  .github/workflows.manual/wasm_tests.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract_protection.yml
  .github/workflows/core-artifact-release.yml
  .github/workflows/core-build.yml
  .github/workflows/deployment-orchestration.yml
  .github/workflows/macos-release.yml
  .github/workflows/observability-testing.yml
  .github/workflows/performance-testing.yml
  .github/workflows/pro-engine-build.yml
  .github/workflows/release.yml
  .github/workflows/security-scanning.yml
  .github/workflows/sustainability-testing.yml
  .gitignore
  costpilot-license-issuer/Cargo.lock
  costpilot-license-issuer/Cargo.toml
  costpilot-license-issuer/INTEGRATION_GUIDE.md
  costpilot-license-issuer/README.md
  costpilot-license-issuer/SUMMARY.md
  costpilot-license-issuer/examples/generate_test_license.rs
  costpilot-license-issuer/examples/simple_api_server.rs
  costpilot-license-issuer/license_enterprise.json
  costpilot-license-issuer/license_free.json
  costpilot-license-issuer/license_premium.json
  costpilot-license-issuer/src/lib.rs
  products/costpilot/product.yml
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check

fix: ignore product spec tests (file is internal-only)
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, cargo-check, validate-mental-model

Add GitHub Marketplace action at repository root
  action.yml
  src/github_action/README.md
  src/github_action/README_ACTION.md
  src/github_action/TEST_README.md
  src/github_action/action.yml
  src/github_action/entrypoint.sh
  src/github_action/fetch-binary.sh
  src/github_action/icons/README.md
  src/github_action/metadata.json
Due: validate-mental-model
